body{
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #0d0d0d);
    color: #fff;
    height: 100vh;
}

.header{
    position: fixed;
    top: 5px;
    right: 0px;
    left: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
}

.header .welcome-line{
    font-size: 24px;
    font-weight: bold;
    
}

.header .nav-bar{  
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header .nav-bar button{
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: #EAEAEA;
    cursor: pointer;
    transition: all 0.15s ease;
}

.header .nav-bar button:hover{
    background-color: white;
    color: #1a1a1a;
}

.header .nav-bar button:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}